<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <form method="post" action="/home/addImage">
            <input type="text" name="Title" placeholder="Title" class="form-control" />
            <br />
            <input type="text" name="Address" placeholder="Address" class="form-control" />
            <br />
            <button class="btn btn-primary">Add Image</button>
        </form>
    </div>
</div>